body {
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}
li {
    padding: 0.5%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-size: 2vw;
}
li::first-line {
    font-weight: bold;
    font-size: 3vw;
}

li:nth-child(odd) {
    background-color: beige;
}
li:nth-child(even) {
    background-color: gray;
}

/* Manually add numbers to each UL. Perhaps JS? Give them an ID and work with that (can be done in CSS as well) */
ul {
    list-style-type: none;
}

li.example:hover {
    cursor: help;
}

div#example-div {
    background-color: black;
    border: thick solid red;
}


pre.example-box {
 color: cyan;
}

h1 {
    font-size: 5.5vw;
}
h2 {
    font-size: 3vw;
}
h3 {
    font-size: 2.5vw;
}


